[submodule "philtre"]
	path = philtre
	url = https://github.com/JoshuaGrams/philtre2d.git
	branch = master
[submodule "ruu"]
	path = ruu
	url = https://github.com/rgrams/love-ruu.git
	branch = master
[submodule "theme"]
	path = interface/theme
	url = https://github.com/rgrams/ruu-theme.git
	branch = master
[submodule "interface/widgets"]
	path = interface/widgets
	url = https://github.com/rgrams/ruu-widgets.git
	branch = master
[submodule "interface/theme"]
	path = interface/theme
	url = https://github.com/rgrams/ruu-theme.git
